* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ABC1D8;
}

#navbar {
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 3;
}

.section-links {
    text-decoration: none !important;
    text-align: center;
    font-size: larger;
    text-transform: uppercase;
}

.link-divs {
    background-color: #898A9E;
    margin: 10px;
    color: white;
}

.section {
    height: 100vh;
}

.blank-space {
    height: 120px;
}

#welcome-section {
    background-color: #AFE3FC;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-size: larger;
}

#name {
    z-index: 2;
}

#projects {
    background-color: #6492AA;
    text-align: center;
    text-transform: uppercase;
}

#contact {
    background-color: #ABC1D8;
    text-align: center;
    text-transform: uppercase;
}

#contact-links {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.contact-link {
    background-color: #6492AA;
    margin: 10px;
    color: white;
    text-decoration: none;
}

footer {
    margin-top: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: #ABC1D8;
}

.animations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 2;
    opacity: 0.3;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
}

#animation-brain {
    background-image: url(brain.svg);
    animation-name: onoff-brain;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    visibility: hidden;
}

.points {
    margin: auto;
    padding: 0;
    width: 30px;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes onoff-brain {    
    0% {
        opacity: 0.3;
        visibility: visible;
    }

    50% {
        opacity: 0;
        visibility: hidden;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0.1;
        visibility: visible;
    }
}

@keyframes bounce {
    25% {
        transform: translateY(-120px);
    }

    75% {
        transform: translateY(120px);
    }
}

#p1 {
    animation-delay: 1.2s;
}

#p2 {
    animation-delay: 0.9s;
}

#p3 {
    animation-delay: 0.6s;
}

#p4 {
    animation-delay: 0.3s;
}


#animation-notes {
    background-image: url(project.svg);
    animation-name: onoff-notes;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    visibility: hidden;
}

#pen {
    animation-name: writing;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes onoff-notes {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    40% {
        opacity: 0;
    }

    49% {
        opacity: 0.1;
        visibility: visible;
    }

    50% {
        opacity: 0.3;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes writing {
    25% {
        transform: translate(90px, -120px);
    }

    50% {
        transform: translate(-50px, -50px);
    }

    75% {
        transform: translate(120px, 10px);
    }
}