* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ABC1D8;
}

#navbar {
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 3;
}

.section-links {
    text-decoration: none !important;
    text-align: center;
    font-size: larger;
    text-transform: uppercase;
}

.link-divs {
    background-color: #898A9E;
    margin: 10px;
    color: white;
}

.section {
    min-height: 100vh;
    padding: 10px;
}

.blank-space {
    height: 120px;
}

#welcome-section {
    background-color: #AFE3FC;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-size: larger;
    height: 100vh;
}

#name {
    z-index: 2;
}

#projects {
    background-color: #6492AA;
    text-align: center;
    text-transform: uppercase;
}

.project-tile {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    font-size: medium;
    text-transform: none;
}

.project-image {
    max-width: 64px;
    max-height: 113.6px;
    width: 30%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.desktop-image {
    visibility: hidden;
    width: 0;
    height: 0;
}



.project-description {
    margin: 20px;
    text-align: justify;
}

#contact {
    background-color: #ABC1D8;
    text-align: center;
    text-transform: uppercase;
}

#contact-links {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.contact-link {
    display: flex;
    background-color: #6492AA;
    margin: 10px;
    height: 50px;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

footer {
    margin-top: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: #ABC1D8;
}

.footer-note {
    padding: 10px;
}

.animations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 2;
    opacity: 0.3;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
}

#animation-brain {
    animation-name: onoff-brain;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    visibility: hidden;
}

#brain {
    position: absolute;
    max-width: 100%;
    margin-top: 10px;
}

.points {
    margin: auto;
    padding: 0;
    width: 30px;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes onoff-brain {    
    0% {
        visibility: visible;
    }

    33% {
        visibility: hidden;
    }
}

@keyframes bounce {
    25% {
        transform: translateY(-120px);
    }

    75% {
        transform: translateY(120px);
    }
}

#p1 {
    animation-delay: 1.2s;
}

#p2 {
    animation-delay: 0.9s;
}

#p3 {
    animation-delay: 0.6s;
}

#p4 {
    animation-delay: 0.3s;
}


#animation-notes {
    background-image: url(project.svg);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
    animation-name: onoff-notes;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    visibility: hidden;
}

#pen-container {
    max-width: 25%;
    max-height: 30%;
    margin-top: 50%;
    animation-name: writing;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#pen {
    max-width: 100%;
}

@keyframes onoff-notes {
    0% {
        visibility: hidden;
    }

    33% {
        visibility: hidden;
    }

    34% {
        visibility: visible;
    }

    65% {
        visibility: hidden;
    }
}

@keyframes writing {
    25% {
        transform: translate(25%, -120px);
    }

    50% {
        transform: translate(-60px, -50px);
    }

    75% {
        transform: translate(90px, 10px);
    }
}

.s {
    position: absolute;
    max-width: 90%;
}

#animation-computer {
    animation-name: onoff-computer;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes onoff-computer {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    65% {
        visibility: hidden;
        opacity: 0;
    }

    66% {
        visibility: visible;
        opacity: 0.3;
    }

    100% {
        visibility: hidden;
    }
}

#s1 {
    visibility: hidden;
    animation-name: as1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes as1 {
    0% {
        visibility: visible;
    }

    32% {
        visibility: hidden;
    }
}

#s2 {
    visibility: hidden;
    animation-name: as2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes as2 {
    0% {
        visibility: hidden;
    }

    32% {
        visibility: hidden;
    }

    33% {
        visibility: visible;
    }

    65% {
        visibility: hidden;
    }
}

#s3 {
    visibility: hidden;
    animation-name: as3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes as3 {
    0% {
        visibility: hidden;
    }

    65% {
        visibility: hidden;
    }

    66% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

@media (min-width: 1280px) {
    #welcome-section {
        display: flex;
        flex-direction: row;
    }

    #name {
        position: absolute;
    }

    .animations {
        width: 30%;
        position: relative;
    }

    #animation-brain {
        animation-name: none;
        visibility: visible;
    }

    #animation-notes {
        animation-name: none;
        visibility: visible;
    }

    #animation-computer {
        animation-name: none;
    }

    .desktop-image {
        visibility: visible;
        max-width: 475px;
        max-height: 231.5px;
        width: auto;
        height: auto;
    }

    .mobile-image {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .project-tile {
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        width: 50%;
    }
}